*{
    margin:0;
    padding:0;
}
	#container_ps{
		margin: auto;
		width: 978px;
		height: 450px;
		position:relative;
		margin-top: 20px;
                box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
	}
	#slideshow {
		height:100%;
		width:100%;
	}
	#slideshow img {
		height:100%;
		width:100%;
		position: absolute;
		z-index:10;
		min-width:100%;
		min-height:100%;
	}
	#pager {
		height:120px; 
		width:978px;
		background:rgba(0,0,0,0.5);
		position:absolute;
		bottom:5%;
		z-index:1000;
		text-align:center;
		opacity:0;
		transition:all .2s ease-in-out 0s;
		margin-left:0px;
	}
	#pager:hover {
		opacity:1;
	}
	#pager img {
		margin: 10px 5px;
		opacity:0.3;
		transition:all .3s ease-in-out 0s;
                height: 100px;
                width: 120px;
	}
	#pager img:hover {
		opacity:1;
		transform:scale(1.05);
		z-index:100;
	}
	#prev_c {
		height:400px;
		width:200px;
		position:absolute;
		left:0;
		top:0;
		z-index:100;
	}
		#prev_c img {
			height:100px;
			width:100px;
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			margin:auto 0px;
                    }
		
	#next_c {
		height:400px;
		width:200px;
		position:absolute;
		right:0;
		top:0;
		z-index:100;
	}
		#next_c img {
			height:100px;
			width:100px;
			position:absolute;
			top:0;
			bottom:0;
			right:0;
			margin:auto 0px;
		}
		#next #prev { visibility:hidden;}
		#next,#prev:hover {
			cursor:pointer;
		}
		#next_c,#prev_c:hover #next,#prev { visibility:visible;}